
@model CurrencySetViewModel

<div>
    <div class="curency-select">
        <textarea id="id1">PRIVET</textarea>
        @Html.DropDownListFor(s => s.SelectedCurrencyId, Model.Currencies2, "Select", new { onchange = "GetSelected(this.value)" });
    </div>
    <div class="container">
        @if (Model.Valute.Any())
        {
            <div class="currency-items">
                @foreach (var currency in Model.Valute)
                {
                    <div class="currency-item">
                        @Html.Partial("_currency", currency.Value)
                    </div>
                }
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    function GetSelected(val) {
        if (val !== "") {
            $.post("@Url.Action("GetSelected", "Home")?SelectedCurrencyId=" + val,
                function(res) {
                    if (res.success === "true") {
                        var s = document.getElementById("id1");
                        s.value = res.data.value;
                    } else {
                        var s = document.getElementById("id1");
                        s.value = "error";
                    }
                });
        } else {
            var s = document.getElementById("id1");
            s.value = "";
        }
    }

</script>

